.text-center{
    text-align: center;
}
$bg-rosa: lightpink;
$bg-celeste: rgb(126, 213, 228);
$bg-gris: gainsboro;
/* xxxxxxxxxxxxxxBODYxxxxxxxxxxxxxx*/
body{
    background-color: rgb(235, 235, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}